* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 109vh;
  background-position: center;
  background-size: cover;
  float: left;

}

body {
  overflow-x: hidden;
}

.navber {
  width: 1550px;
  height: 75px;
  margin: auto;
  top: 0;
  background-color: darkgray;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;

}

.icon {
  width: 200px;
  float: left;
  height: 70px;
  position: absolute;
}

.logo {
  color: rgb(139, 25, 125);

  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  position: absolute;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
  position: absolute;
  margin-left: 450px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

ul li {
  list-style: none;
  margin-left: 40px;
  margin-top: 25px;
  font-size: 14px;
  position: relative;
}

ul li a {
  text-decoration: none;
  color: darkmagenta;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: orangered;
}

.search {
  width: 300px;
  float: left;
  margin-left: 1000px;
  position: absolute;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 30px;
  border: 1px solid orangered;
  border-radius: 7px;
  margin-top: 15px;
  font-size: 16px;
  float: left;
  padding: 10px;
}

.btn {
  width: 60px;
  height: 20px;
  border: 2px solid rgb(131, 128, 108);
  margin-top: 20px;
  margin-left: 2px;
  color: darkslategray;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

.m_body {
  background-image: url(image/background.jpg);
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;

}

#img {
  width: 300px;
  height: 300px;
  margin: auto;
  top: 0px;
  left: 10px;
  right: 10px;
  bottom: 0;
  position: absolute;
  margin-left: 60%;
  z-index: 0;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;

}

#f_head {
  color: white;
  font-size: 20px;
  position: absolute;
  margin-top: 200px;
  margin-left: 90px;
}

.para {
  color: white;
  font-size: 16px;
  position: absolute;
  margin-top: 300px;
  margin-left: 90px;
}

.trd_part {
  width: auto;
  height: 400px;
  background-color: rgb(170, 175, 174);
  position: relative;
}

.l_footer {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 5%;

}

.r_footer {
  color: black;
  position: absolute;
  font-size: 23px;
  margin-top: 15px;
  margin-left: 70%;
}
.m_footer {
  color: black;
  position: absolute;
  font-size: 23px;
  margin-top: 15px;
  margin-left: 30%;
}